
html {
  scroll-behavior: smooth;
}

.keho {
	background-image: url("images/tausta.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a:link {
	color: white;
}

a:visited {
	color: gray;
}

a:hover {
	color: red;
}

.otsikko {
	width: 40%;
	height: 70px;
	position: absolute;
	left: 30%;
	top: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif !important;
	border-radius: 15px;
	color: #ffffff;
	background-image: url("images/banner.jpg");
}

h1 {
	font-size: 30px !important;
}

p {
	color: white;
}

h2 {
	color: #ffffff;
	font-size: 20px !important;
}

.rivi {
	position: absolute;
	height: 15%;
	width: 70%;
	top: 100px;
	left: 5%;
	right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
}

.teht_linkki_yks {
	order: 1;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.teht_linkki_kaks {
	order: 2;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.teht_linkki_kol {
	order: 3;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.teht_linkki_nel {
	order: 4;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.rivi2 {
	position: absolute;
	height: 15%;
	width: 70%;
	top: 250px;
	left: 5%;
	right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
}

.teht_linkki_viis {
	order: 1;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.teht_linkki_kuus {
	order: 2;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.teht_linkki_sei {
	order: 3;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.teht_linkki_kasi {
	order: 4;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.rivi3 {
	position: absolute;
	height: 15%;
	width: 70%;
	top: 400px;
	left: 5%;
	right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
}

.teht_linkki_ysi {
	order: 1;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}
.teht_linkki_kymm {
	order: 2;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}
.teht_linkki_yytoo {
	order: 3;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}
.teht_linkki_kaatoo {
	order: 4;
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
}

.sivu_banneri {
	width: 300px;
	height: 40%;
	position: absolute;
	right: 5px;
	top: 15%;
}

.css_eka {
	width: 300px;
	height: 100px;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	font-size: 20px !important;
	position: absolute;
	left: 0px;
}

.infolaatikko {
	position: absolute;
	top: 120%;
	left: 10%;
	width: 800px;
	height: 700px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif !important;
	background-image: url("images/banner.jpg");
	border-radius: 15px;
	color: white;
	font-size: 16px !important;
}
