
body {
    height: 1000px;
}


.otsikko {
    position: absolute;
    width: 340px;
    top: -100px;
    left: 130px;
}

.kontentti {
    position: absolute;
    width: 30%;
    height: 20%;
    left: 33%;
    top: 20%;
}

.eka-rivi {
    position: absolute;
    left: 0%;
    top: 40%;
    width: 45%;
    height: 80px;
}

.kolumni-1 {
    position: absolute;
    left: 0px;
    width: 200px;
}

.kolumni-2 {
    position: absolute;
    left: 210px;
    width: 150px;
}

.kolumni-3 {
    position: absolute;
    left: 380px;
    width: 200px;
}

.lasku-nappi {
    position: absolute;
    width: 45px;
    left: 260px;
    top: 30px;
}

.tulos {
    position: absolute;
    width: 150px;
    left: 210px;
    bottom: 0px;
}

.merkit {
    width: 100%;
}

input {
    border-width: 2px;
    border-color: white;
}

input:invalid {
    background-image: linear-gradient(darkred, red);
}

input:required {
    border-color: red;
}
