
.formi {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 600px;
	top: 15%;
	width: 520px;
	left: 30%;
	background-color: grey;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	color: white;
	align-self: center;
}

form {
	width: 435px;
	background-image: url("tausta.jpg");
	margin: 5px;
}

h1 {
	text-align: center;
	color: white;
}

legend {
	color: white;
}

